body {
    margin: 0;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-content {
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.header-content nav {
    display: flex;
    justify-content: center;
}

.header-title {
    font-family: sans-serif;
    font-size: 28px;   
    text-transform: uppercase;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

.header-list li a{
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 15px;
}

.header-list li a:hover {
    background-color: rgb(50, 184, 214);
    color: black;
}

.main-content { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 60px;
}

.plans-list {
    display: flex; 
    color: white;
    padding: 0;
}

.plans-list__item {
    background-color: #272626;
    width: 250px;
    height: auto;
    margin-right: 15px;
    list-style-type: none;
    padding: 16px;
    color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    cursor: pointer;
}

.plans-list__item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.plans-list__item h2 {
    border-bottom: 1px solid rgb(50, 184, 214);
    text-transform: uppercase;
    padding-bottom: 10px;
}

.plans-list__item p {
    font-size: 25px;
    font-style: italic;
    margin: 0;
}

.plans-list__item ul {
    list-style-type: disc;
    margin: 0;
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 15px;
}

.plans-list__item ul li::marker {
    color: rgb(50, 184, 214);
}

.plans-list__item ul li {
    padding: 3px;
}

.plans-list__item a {
    padding: 12px;
    background-color: rgb(50, 184, 214);
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.plans-list__item a:hover {
    background-color: rgb(50, 184, 214, .8);
}